<meta charset="UTF-8">
<title>@ViewBag.Appname</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

<!-- csslayout -->
<link href="@Url.Content("~/")Content/AdminLTE/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/")Content/AdminLTE/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/")Content/AdminLTE/css/ionicons.css" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/")Content/AdminLTE/css/AdminLTE.css" rel="stylesheet" type="text/css" />
<!-- Bootstrap WYSIHTML5 -->
<link rel="stylesheet" href="@Url.Content("~/")Content/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- select2 -->
<link rel="stylesheet" href="@Url.Content("~/")Content/AdminLTE/plugins/select2/select2.min.css" type="text/css" />
<!-- ripple -->
<link rel="stylesheet" href="@Url.Content("~/")Content/AdminLTE/plugins/ripple/ripple.min.css" type="text/css" />

<link href="@Url.Content("~/")Content/Site.css" rel="stylesheet" type="text/css" />
        


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="@Url.Content("~/")Scripts/AdminLTE/html5shiv.js"></script>
    <script src="@Url.Content("~/")Scripts/AdminLTE/respond.src.js"></script>
<![endif]-->

<script src="@Url.Content("~/")Scripts/modernizr-2.5.3.js"></script>
